<!DOCTYPE html>

<html>
<head>
<title>{% block title %}Welcome!{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{{asset('bundles/dashboard/css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{{asset('bundles/dashboard/css/style.css')}}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{{asset('bundles/dashboard/css/font-awesome.css')}}" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{{asset('bundles/dashboard/css/icon-font.min.css')}}" type='text/css' />
<!-- //lined-icons -->
<script src="{{asset('bundles/dashboard/js/jquery-1.10.2.min.js')}}"></script>
<script src="{{asset('bundles/dashboard/js/amcharts.js')}}"></script>	
<script src="{{asset('bundles/dashboard/js/serial.js')}}"></script>	
<script src="{{asset('bundles/dashboard/js/light.js')}}"></script>	
<script src="{{asset('bundles/dashboard/js/radar.js')}}"></script>	
<link href="{{asset('bundles/dashboard/css/barChart.css')}}" rel='stylesheet' type='text/css' />
<link href="{{asset('bundles/dashboard/css/fabochart.css')}}" rel='stylesheet' type='text/css' />
<!--clock init-->
<script src="{{asset('bundles/dashboard/js/css3clock.js')}}"></script>
<!--Easy Pie Chart-->
<!--skycons-icons-->
<script src="{{asset('bundles/dashboard/js/skycons.js')}}"></script>

<script src="{{asset('bundles/dashboard/js/jquery.easydropdown.js')}}"></script>

<!--//skycons-icons-->
</head> 
<body>
<div class="page-container">
<!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
           <!-- header-starts -->
           {{render ( controller ('DepaniniUserBundle:Default:header'))}} 
           <!-- //header-ends -->
           <div class="outter-wp"> 
                <!--//outer-wp-->
                {%block body %}
                {%endblock%}
           </div>
           <!--footer section start-->
           <footer>
              <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
           </footer>
           <!--footer section end-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    {{render ( controller ("DepaniniUserBundle:Default:sideBar"))}}     
    <div class="clearfix"></div>		
</div>
<script>
var toggle = true;

$(".sidebar-icon").click(function() {                
if (toggle)
{
$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                                    $("#menu span").css({"position":"absolute"});
}
else
{
$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
setTimeout(function() {
$("#menu span").css({"position":"relative"});
}, 400);
}

     toggle = !toggle;
});
</script>
<!--js -->
<link rel="stylesheet" href="{{asset('bundles/dashboard/css/vroom.css')}}">
<script type="text/javascript" src="{{asset('bundles/dashboard/js/vroom.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/dashboard/js/TweenLite.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/dashboard/js/CSSPlugin.min.js')}}"></script>
<script src="{{asset('bundles/dashboard/js/jquery.nicescroll.js')}}"></script>
<script src="{{asset('bundles/dashboard/js/scripts.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{asset('bundles/dashboard/js/bootstrap.min.js')}}"></script>
</body>
</html>